# Dependency directories
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Production builds
dist/
Frontend/dist/

# Local env files (Secrets)
.env
Backend/.env
Frontend/.env

# Local Monaco Assets
Frontend/public/vs/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
